body{
    margin: 0;
    background: url('https://catherineasquithgallery.com/uploads/posts/2021-02/1612470307_104-p-seraya-kartinka-dlya-fona-147.jpg')
}

header{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 368px;
    margin: 20px 10%;

    background: #FFFFFF;
}
.blocker{
    width: 100%;
    height: 369px;
    flex-direction: column;
}
.ad2{
    width: 30%;
    height: 100%;
    background: #C9C5C5;
}
.ad{
    width: 100%;
    height: 24.7%;
    margin-top: 0.02%;
    
    background: #C9C5C5;
}
.ad img{
    width: 100%;
    height: 100%;
} 
main .hat{
    position: relative;
    width: 100%;
    height: 105px;
    border-radius: 10px;
    
    display: flex;
    flex-direction: row;
    background: linear-gradient(180deg, rgba(250, 92, 92, 0.88) 48.62%, rgba(116, 126, 180, 0) 116.19%);
}
main{
    
    

    margin: 20px 10%;

    background: #FFFFFF;
    border-radius: 10px;
}
#a{
    margin-left: 23px;
}
.hat p{
    text-align: center;
    width: 69px;
    height: 16px;
    

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
    font-style: italic;
    font-weight: normal;
    font-size: 19px;
    line-height: 26px;

    color: #FFFFFF;
}
.hat .a{
    margin-top:39px ;
    margin-left: 60px;
}

.hat .b{
    margin-top:39px ;
    margin-left: 15px;
}



.blockator p{
    
    height: 16px;
    margin-left: 6%;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.blockator{
    position: absolute;
    left: 50%;
    top: 21%;
    
    width: 60%;
    display: flex;
    flex-direction: row;
    padding: auto;
    
}
